ErrorDocument 404 /_errorController.php?code=notfound
ErrorDocument 403 /_errorController.php?code=forbidden
ErrorDocument 400 /_errorController.php?code=forbidden
ErrorDocument 500 /_errorController.php?code=servererror
ErrorDocument 503 /_errorController.php?code=servererror

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule . route.php [L]
