<IfModule mod_headers.c>
    Header unset Pragma
    FileETag None
    Header unset ETag

    <filesMatch "\.(ico|gif|jpg|png|jpeg)$">
        ExpiresActive On
        ExpiresDefault "access plus 1 week"
        Header append Cache-Control "public"
    </filesMatch>
</IfModule>
